/* .navbar {
  background-color: grey;
  padding: 10px 30% 10px 30%;
  display: flex;
  justify-content: space-between;

} */

/* a {
  text-decoration:none;
} */

/* a:hover{
  color: yellow;

} */

/* h1:hover{
  font-size: 4em;
} */

/* h1 {
  text-align: center;
} */

/* .right-side {
  border: 2px solid black;
  height: 500px;
  width: 40%;
} */

/* .right-side:hover{
  background-color: orange;
} */

/* .left-side {
  border: 2px solid black;
} */

/* .left-side:hover{
  border: 5px solid teal;
} */

/* .main-page {
  display: flex;
  justify-content: space-around;
} */

/* .link-button:hover{
  background-color: blue;
} */

/* .link-button {
  margin: 40px auto;
  display: block;
} */
